
/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;

  background-color: rgb(20, 20, 20);
  color: whitesmoke;
  font-family: monospace;
}


/* Left */

.left-section {
  grid-area: 1 / 1 / 2 / 2;

  border: 1px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




/* Middle */

.middle-section {
  height: 100vh;
  
  grid-area: 1 / 2 / 2 / 3;
  
  border: 1px solid blue;

  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.5rem;
  font-weight: 700;
}

#body {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  padding: 50px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: 700;

  cursor: pointer;
}

.item-1 {
  grid-area: 1 / 1 / 2 / 2;

  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.item-2 {
  grid-area: 1 / 2 / 2 / 3;

  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.item-3 {
  grid-area: 1 / 3 / 2 / 4;

  border-bottom: 5px solid whitesmoke;
}

.item-4 {
  grid-area: 2 / 1 / 3 / 2;

  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.item-5 {
  grid-area: 2 / 2 / 3 / 3;

  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.item-6 {
  grid-area: 2 / 3 / 3 / 4;

  border-bottom: 5px solid whitesmoke;
}

.item-7 {
  grid-area: 3 / 1 / 4 / 2;

  border-right: 5px solid whitesmoke;
}

.item-8 {
  grid-area: 3 / 2 / 4 / 3;

  border-right: 5px solid whitesmoke;
}

.item-9 {
  grid-area: 3 / 3 / 4 / 4;
}

/* Right */

.right-section {
  grid-area: 1 / 3 / 2 / 4;

  border: 1px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#turn {
  font-size: 2rem;
  
}